<!-- Shop Collection Section Start -->
<section id="shop-collection">
<div class="container">
<h3>{{ heading_title }}</h3>
<div class="row">
    {% for product in products %}
     <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="shop-product">
          <div class="product-box">
            <a href="{{ product.href }}">
              <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
            </a>
            <div class="cart-overlay">
            </div>
            <div class="actions">
              <div class="add-to-links">
                <a type="button" class="btn-cart" onclick="cart.add('{{ product.product_id }}');">
                  <i class="fa fa-shopping-cart"></i> 
                </a>
                <a type="button" class="btn-wish" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');">
                <i class="fa fa-heart"></i>
                </a>
              <a type="button" class="btn-quickview md-trigger" data-modal="modal-3" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');">
              <i class="fa fa-exchange"></i>
              </a>
              </div>
            </div>             
          </div>
          <div class="product-info">
            <h4 class="product-title"><a href="{{ product.href }}">{{ product.name }}</a></h4>  
            <div class="align-items">
              <div class="pull-left">
                  {% if product.price %}
                    <span class="price">
                    {% if not product.special %}
                    {{ product.price }}
                    {% else %}
                    <span class="price-new">{{ product.special }}</span>
                     <span class="price-old">{{ product.price }}</span>
                    {% endif %}
                  </span>
                  {% endif %} 
              </div>
              <div class="pull-right">
               {% if product.rating %}
                <div class="reviews-icon">
                  {% for i in 5 %}
                  {% if product.rating < i %}
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                  {% else %}
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                  {% endif %}
                  {% endfor %}
                 </div>
                {% endif %}
              </div>
            </div>
          </div> 
          </div>
      </div>            
    {% endfor %}         
</div>
</div>
</section>
