<h3></h3>

<!-- Latest Blog Section Start -->
    <section class="latest-blog section"> 
      <div class="container">
        <h1 class="section-title">{{ heading_title }}</h1>
        <hr class="lines">
        <div class="row">
        {% for seller in sellers %}
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="blog-item">
              <div class="blog-img">
                <a href="{{ seller.href }}">
                  <img src="{{ seller.thumb }}"  alt="{{ seller.name }}" title="{{ seller.name }}">
                </a>
                <div class="mask">
                </div>
              </div>
              <div class="blog-info">
                <h3><a href="{{ seller.href }}">{{ seller.name }}</a></h3>
              </div>
            </div>
          </div>
         {% endfor %} 
          </div>
          </div>
    </section>

