<div class="testimonial-container">
<div class="container">
	<div class="module-title">
		<h2>
			{{ title }}
		</h2>
	</div>
	{% set count = 0 %}
	{% if rows %}		
		{% set rows = slide.rows %}
	{% else %}
		{% set rows = 1 %}
	{% endif %}
	{% if testimonials %}
		<div class="block-content">
			<div id="slides" class="owl-carousel owl-theme">
				{% for testimonial in testimonials %}
					{% if count % rows == 0 %}
					<div class="row_items">
					{% endif %}
					{% set count = count + 1 %}
					<div class="testimonial-content">
						<div class="testimonial-images">
							<img src="{{ testimonial.image }}" alt="{{ testimonial.customer_name }}">							
						</div>
						<div class="testimonial-box">							
							<a href="{{ more }}">{{ testimonial.content }}</a>
						</div>
						<i class="fa fa-quote-right"></i>
						<h4 class="testimonial-author">{{ testimonial.customer_name }}</h4>
					</div><!--testimonial-content-->
					{% if count % rows == 0 or count == testimonials|length %}
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div><!--block-content-->
	{% else %}
		<p class="text_empty">{{ text_empty }}</p>
	{% endif %}
</div>
</div><!--testimonial-container-->					
<script type="text/javascript">
$(document).ready(function() {
    $("#slides").owlCarousel({
		autoPlay : {% if slide['auto'] %} {{ slide['auto'] }} {% else %} false {% endif %},
		items : {{ slide['items'] }},	
		loop: true,
		margin: 30,
		navSpeed : {{ slide['speed'] }},
		dotsSpeed : {{ slide['speed'] }},
		autoplaySpeed : {{ slide['speed'] }},
		nav : {% if slide['navigation'] %} true  {% else %} false {% endif %},
		dots :{% if slide['pagination'] %} true {% else %} false {% endif %},
		lazyLoad: true,
		navText : ['<i class="ion-ios-arrow-left"></i>','<i class="ion-ios-arrow-right"></i>'],
		responsive:{
			0:{
				items: 1
			},
			480:{
				items: 1
			},
			768:{
				items: 1
			},
			980:{
				items: 1
			}
		}
    });
});
</script>